body {
	font-family: arial, sans-serif;
}

.navbar {
	height: 50px;
}

.navbar ul {
	position: relative;
	margin-left: 1150px;
	margin-top: 15px;
	width: 300px;
}

li{
	display: inline-block;
	font-size: 13px;
	color: #000;
	padding-left: 15px;
	vertical-align: middle;
}

.navbar li a {
	height: 24px;
    line-height: 2px;
}

.main {
	width: 1200px;
	margin:auto;
	margin-top: 110px
}

.main img {
	margin-left: 425px;
	width: 350px;
}

.searchbar input {
	width: 528px;
	height: 38px;
	margin-left: 450px;
	margin-top: 15px;
}

.searchbutton {
	margin-left: 580px;
	margin-top: 15px;
}
	
.searchbutton input {
	padding:16px;
	border:1px solid #f2f2f2;
	border-radius: 2px;
	margin:11px 4px 11px 4px;
	background: #f2f2f2;
	font-weight: bold;
	color: #757575;
	font-size: 13px;
	height: 36px;
    line-height: 2px;
}

.subtext {
	margin-top: 20px;
	margin-left: 580px;
	font-size: 13px;
	width:310px;
}

a {
	text-decoration:none;
}

.footer {
	background: #f2f2f2;
	height: 40px;
	margin-top:260px;
	width: 100%;
	bottom:0;
}

.footerleft li, .footerright li {
	display: inline-block;
	margin-top: 15px;

}

.footerleft {
	float:left;
	margin-left: 50px;
}

.footerright {
	margin-left: 1100px;
}


.footer a {
	font-size: 13px;
	color: #666;
}